:root {
  --xml-viewer-bracket-color: #111111;
  --xml-viewer-assignment-color: #986801;
  --xml-viewer-quote-color: #50a14f;
  --xml-viewer-attribute-name-color: #986801;
  --xml-viewer-attribute-value-color: #50a14f;
  --xml-viewer-cdata-content-color: #50a14f;
  --xml-viewer-element-content-color: #383a42;
  --xml-viewer-element-name-color: #e45649;
  --xml-viewer-remark-content-color: #a0a1a7;
}

.dark {
  --xml-viewer-bracket-color: #e1e4e8;
  --xml-viewer-assignment-color: #b392f0;
  --xml-viewer-quote-color: #9ecbff;
  --xml-viewer-attribute-name-color: #b392f0;
  --xml-viewer-attribute-value-color: #9ecbff;
  --xml-viewer-cdata-content-color: #9ecbff;
  --xml-viewer-element-content-color: #e1e4e8;
  --xml-viewer-element-name-color: #85e89d;
  --xml-viewer-remark-content-color: #6a737d;
}