$bracketColor: gray;
$dotColor: lightBlue;
$assignmentColor: #9FDAFE;
$quoteColor: #CC864C;
$attributeNameColor: #9FDAFE;
$attributeValueColor: #CC864C;
$cdataContentColor: #CC864C;
$elementContentColor: #AAA;
$elementNameColor: #598BA1;
$remarkContentColor: lightgreen;